/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --light-color: #f4f4f4;
  --dark-color: #343a40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Varela', 'Raleway', sans-serif;
  min-height: 100%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Background colors */
.bg-dark {
  background: var(--dark-color);
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

/* Text styles */
.x-large {
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.normal {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.alert-styling {
  position: fixed;
  z-index: 999;
}
