/* Calendar */
.calendar-calendar-height {
  height: calc(100vh - 7rem);
}

/* Selected Entry Info */
.calendar-selected-info {
  height: 50vh;
  /* height: calc(50vh - 3rem); */
}

/* Day List Information */
.calendar-day-info {
  height: calc(50vh - 7rem);
}

.calendar-center-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-day-content {
  /* padding: 1rem; */
  height: calc(30vh - 2.6rem);
}

.calendar-day-header {
  /* margin: auto; */
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 7px 4px 10px rgba(0, 0, 0, 0.1);
}

.calendar-day-subheader {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.calendar-day-content-list {
  height: calc(30vh - 2.8rem);
  overflow-y: auto;
  overflow-x: hidden;
}
