/* Modal styles */
.custom-modal-p {
  margin: 0 auto;
}

.custom-modal-input {
  margin: 0.5rem 0;
}

.custom-modal-body {
  height: calc(100vh - 12rem);
  overflow: auto;
}

/* Expense modal  */
.expense-entry-date-picker::-webkit-inner-spin-button,
.expense-entry-date-picker::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
