/* TODO: figure out how to isolate formatting just to the class */
.custom-modal-p {
  margin: 0 auto;
}

.custom-modal-input {
  margin: 0.5rem 0;
}

.custom-modal-body {
  height: calc(100vh - 12rem);
  overflow: auto;
}
