/* General Design */
.management-ignore-navbar {
  padding-top: 72px;
}

/* Side Navbar */
.management-job-container {
  /* position: absolute; */
  /* position: fixed; */
  width: 25%;
  top: 72px;
  left: 0;
  bottom: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.management-side-bar-header {
  margin: 1rem;
}

.management-side-bar-header-item {
  margin: 0.25rem 0;
}

.management-job-list {
  display: block;
  min-height: calc(100vh - 12rem);
  max-height: calc(100vh - 12rem);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.management-nav-link {
  margin: 0.45rem 1rem;
}

/* Content */
.management-content {
  padding: 0 1rem;
  width: 75%;
  min-height: calc(100vh - 9rem);
  max-height: calc(100vh - 5rem);
  overflow-y: auto;
}

.management-job-not-selected {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 1rem;
  height: calc(100vh - 7rem);
  background: rgba(0, 0, 0, 0.1);
}

.management-job-not-selected-text {
  position: relative;
  top: 50%;
  text-align: center;
  margin-top: 1rem;
}

.management-content-header {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 7px 4px 10px rgba(0, 0, 0, 0.1);
}

.management-content-info {
  padding: 1rem;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}
